:root {
  --orange: rgb(236, 164, 96);
}

#header {
  display: flex;
  align-items: center;
}

#logo {
  flex: 1 1 30%;
  padding-left: 2em;
}

#logo-img {
  width: 10vw;
  min-width: 10ch;
}

#navi-box {
  flex: 1 1 70%;
  min-width: 25ch;
  display: flex;
  justify-content: flex-end;
  padding-right: 4em;
}

#menu-item {
  margin: 0 1.5rem 0 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: darkgrey;
  font-size: clamp(0.62em, 1vw, 1.1em);
}

#menu-item:hover {
  color: lightsteelblue;
}

#main {
  background-image: url(/Images/IMG_0872.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#why-box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  max-width: 100ch;
  margin: 1vw auto;
  padding: 1vw 0 1vw 0;
}

#why-element {
  width: 100%;
  /*border: 1px gray solid;*/
  height: 14rem;
  background-color: hsla(32, 20%, 20%, 0.3);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

#why-logo {
  margin-top: 0.25rem;
  max-width: 9.5rem;
  align-self: center;
}

#why-text {
  text-align: center;
  margin: 0.25rem;
}

.why-element-deco {
  color: var(--orange);
}
